**/node_modules
**/npm-debug.log

docker/mysql/logs
docker/mysql/conductor_mysql
ui/dist
ui/package-lock.json
.gradle
.project
bin
build
client/python/conductor.egg-info
*.pyc
.classpath
docs/site
site
ui/.settings
.settings
dump.rdb
.idea
*.iml
out/
bin/
target/
.DS_Store
.vscode/
buildscan.log

# publishing secrets
secrets/signing-key
